
ES_MGO_URI="mongodb://thovnn:thovnn@13.251.178.90:50000/services"
PORT=8081
GRPC_PORT=8081
#ES_MGO_URI="mongodb://thovnn:"
ES_MGO_URI="mongodb://localhost:27017"
PUB_SUB_URL="127.0.0.1:6000"

KAFKA_BROKER_HOSTS="192.168.120.30:19092,192.168.120.30:29092,192.168.120.30:39092"
KAFKA_PARTITION=1
KAFKA_TOPIC="foo"
KAFKA_MAX_RETRY=2

#ES_URL="test.thovnn.vn:12300"
#ES_INDEX="esv7_filter"

ES_URL="http://test.thovnn.vn:3019"
ES_INDEX="product_alias"

SHOP_INSTALLMENT_API="http://installment-service.test.thovnn.vn/"

WORKER_ADD_HTTP_METRIC_PORT="2112"
WORKER_UPDATE_HTTP_METRIC_PORT="2112"
WORKER_SHOP_INSTANT_HTTP_METRIC_PORT="2112"
SERVICE_HTTP_METRIC_PORT="2112"

KAFKA_TOPIC_SHOP_INSTANT="es_shop_instant"
KAFKA_TOPIC_PRODUCT_UPDATED="es_product_updated"
KAFKA_TOPIC_PRODUCT_ADDED="es_product_added"

PORT=8081
GRPC_PORT=8088
es_mgo_uri="mongodb://thovnn:thovnn@test.thovnn.vn:50000/services"
log_mgo_uri="mongodb://thovnn:thovnn@test.thovnn.vn:50000/services"
REPLICA_MGO_URI="mongodb://thovnn:thovnn@13.251.178.90:50000/services"
REDIS_URI="redis://127.0.0.1:6379"
#ES_MGO_URI="mongodb://localhost:27017"




HOTSELL_SUBSCRIBE_EVENT="gorest.hotsell.cron"
HOTSELL_SUBSCRIBE_TOKEN="4sdf4e5df"

LISTING_SCORE_SUBSCRIBE_EVENT="api3.cron.product.score.update"
LISTING_SCORE_SUBSCRIBE_TOKEN="4sdf4e5df"


CATEGORY_GRPC_ENDPOINT="0:8080"


SHOP_INSTALLMENT_API="http://installment-service.test.thovnn.vn/"
